body {
  max-width: 800px;
  background-color: #fefefe;
  color: #454545;
  font-size: 14pt;
  margin: auto;
  font-family: 'montserrat', sans-serif, arial;
  text-align: justify;
  padding: 1em;
}

.content {
  line-height: 1.4;
}
  
header {
  text-align: center;
}

h1 {
  text-decoration: underline;
}
h4 {
  text-align:center;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

section {
  border-style: double;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  border-color:black;
  position:relative;
  text-align: center;
}

img {
  width:50%;
  object-fit: contain;
  border:solid black 2px;
  background-color: #ffff;
}

figcaption {
  font-size:10pt;
  text-align:center;
}

.sideNav {
  position: fixed;
  left: calc(50% - 35em);
  z-index: 1;
  top: 75px;
  width: 14em;
  background:transparent;
  overflow-x: hidden;
  padding: 8px 0px 8px 5px;
}

nav {
  display: block;
}

.bilde{
  width: 80%;
}